{% extends 'PerformUserBundle:Login:login.html.twig' %}

{% block title %}
  Reset your password
{% endblock %}

{% block panel_body %}
  <div class="alert alert-warning">
    <p>
      Enter your email address to be sent a link to reset your password.
    </p>
  </div>
  {{form_start(form)}}
  {{form_row(form.email)}}
  <button type="submit" class="btn btn-info">Send password reset email</button>
  {{form_end(form)}}
{% endblock %}
