{% extends '@PerformBase/base.html.twig' %}

{% block workspace %}
  <div id="perform-media-app">
  </div>
{% endblock %}

{% block js %}
  {{parent()}}
  <script type="text/javascript">
   Perform.media.startApp('#perform-media-app');
  </script>
{% endblock %}
