.perform-header {
  background-color: $p-header-bg;

  .navbar-brand {
    font-family: $headings-font-family;
  }

  .sidebar-toggler {
    cursor: pointer;
    color: $navbar-light-color;

    &:hover {
      color: $navbar-light-hover-color;
    }
  }
}

@keyframes fade-out {
  from {opacity:1;}
  to {opacity:0;}
}

.p-flashes {
  position: fixed;
  width:600px;
  top: 100px;
  right: 50px;
  z-index: 1;

  .removing {
    animation: fade-out .5s;
  }
}
