// perform variables
// must be !default so themes can override them
$placeholder-color: #cdcdcd !default;
$base-font-url: 'https://fonts.googleapis.com/css?family=Ruda:400,700,900' !default;
$base-font: 'Ruda' !default;
$p-footer-bg: gray("700") !default;
$p-footer-color: $white !default;
$p-header-bg: $light !default;
$p-sidebar-bg: $secondary !default;
$p-sidebar-highlight: $gray-500 !default;
$p-sidebar-color: $white !default;
$p-sidebar-width: 210px !default;
