/vendor/
/composer.json
/composer.lock

src/*/vendor
src/*/composer.lock
src/BaseBundle/Resources/node_modules
src/BaseBundle/Resources/public
src/BaseBundle/Resources/scss/_extras.scss
src/BaseBundle/Resources/scss/_theme.scss
src/BaseBundle/Resources/scss/_theme_variables.scss
src/BaseBundle/Resources/src/modules.js
src/MediaPlayerBundle/Resources/public
src/RichContentBundle/Resources/js/components/blocktypes.js

test_results.xml
Dockerfile

docs/_build
docs/reference/field-types/*
!docs/reference/field-types/index.rst
docs/reference/sass.rst
docs/_themes/perform/node_modules
docs/_themes/perform/static
