/vendor/
/composer.lock
src/*/node_modules
src/*/Resources/public/vendor
src/*/Resources/public/css
/test_results.xml
src/CmsBundle/Resources/public/js
/src/CmsBundle/gulp-sources.js
src/MediaPlayerBundle/Resources/public
