{% extends 'AdminBaseBundle::base.html.twig' %}

{% block workspace %}
  <h3><i class="fa fa-angle-right"></i> Dashboard</h3>
  <div class="row mt">
    <div class="col-lg-12">
    </div>
  </div>
{% endblock %}
