<div class="perform-cms">
  <nav class="nav navbar-default navbar-top">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">Page Editor</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="fa fa-clock-o"></i> Untitled (Published) <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="#">
              Untitled 2
            </a>
          </li>
          <li class="divider"></li>
          <li><a href="#">Show all</a></li>
        </ul>
      </li>
      <li>
        <a href="#">
          Save
        </a>
      </li>
      <li>
        <a href="#">
          Save As
        </a>
      </li>
      <li>
        <a href="#">
          Publish
        </a>
      </li>
      <li>
        <a href="{{path('admin_cms_session_end')}}">
          Finish Editing
        </a>
      </li>
    </ul>
  </header>
</div>

<script type="text/template" id="content-block-html">
  {% include 'AdminCmsBundle:blocks:html.html.twig' %}
  <div class="controls">
    <a class="edit">Edit</a>
    <a class="done">Ok</a>
    <a class="cancel">Cancel</a>
    <a class="remove">Remove</a>
  </div>
</script>
