<div class="perform-cms">
  <nav class="nav navbar-default navbar-top">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">Page Editor</a>
    </div>
    <ul class="nav navbar-nav">
      {% if currentVersion is not null %}
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-clock-o"></i>
            <span class="current-version-title">{{currentVersion.title}}</span>
            <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu version-selector">
            {% for version in versions %}
              <li>
                <a href="#" class="{% if version == currentVersion %}active {% endif %}version" data-url="{{path('admin_cms_editor_loadversion', {id: version.id})}}">
                  {{version.title}}
                  {% if version.published %}
                    (published)
                  {% endif %}
                </a>
              </li>
            {% endfor %}
            <li class="divider"></li>
            <li><a href="#">Show all</a></li>
          </ul>
        </li>
        <li>
          <a href="#">
            Save
          </a>
        </li>
        <li>
          <a href="#">
            Save As
          </a>
        </li>
        <li>
          <a href="#">
            Publish
          </a>
        </li>
      {% endif %}
      <li>
        <a href="{{path('admin_cms_session_end')}}">
          Finish Editing
        </a>
      </li>
    </ul>
  </nav>

  <div class="modal" id="load-mask" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm">
      <div class="modal-body">
        <i class="fa fa-spin fa-spinner"></i>
      </div>
    </div>
  </div>

</div>

<script type="text/template" id="content-block-html">
  <div class="content">
    {% include 'AdminCmsBundle:blocks/content:html.html.twig' %}
  </div>

  <% if (!readonly) { %>
  <div class="editor">
    {% include 'AdminCmsBundle:blocks/editor:html.html.twig' %}
  </div>
  <div class="controls">
    <a class="edit">Edit</a>
    <a class="done">Ok</a>
    <a class="cancel">Cancel</a>
    <a class="remove">Remove</a>
  </div>
  <% } %>
</script>
