$p-page-editor-toolbar-width: 250px;
$p-page-editor-icon-size: 16px;
$p-page-editor-toolbar-bg: #333;
$p-page-editor-toolbar-color: #eee;

.p-comp-page-editor-icon {
  position: fixed;
  top: 0;
  height: 30px;
  width: 30px;
  padding: 5px;
  font-size: $p-page-editor-icon-size;
  background: $p-page-editor-toolbar-bg;
  color: $p-page-editor-toolbar-color;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
  &:hover {
    text-decoration: none;
    color: lighten($p-page-editor-toolbar-color, 20%);
    background-color: lighten($p-page-editor-toolbar-bg, 10%);
  }
}

.p-comp-page-editor-toolbar {
  width: $p-page-editor-toolbar-width;
  font-size: 12px;
  font-family: $font-family-base;
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  bottom: 0;
  z-index: 1100;
  background: $p-page-editor-toolbar-bg;
  color: $p-page-editor-toolbar-color;

  a {
    cursor: pointer;
    color: $p-page-editor-toolbar-color;
    &.active, &:hover {
      background-color: lighten($p-page-editor-toolbar-bg, 10%);
      text-decoration: none;
    }
  }

  .control {
    display: inline-block;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 20px;
    padding: 5px;
    font-size: $p-page-editor-icon-size;
    color: darken($p-page-editor-toolbar-color, 20%);
    &:hover {
      color: lighten($p-page-editor-toolbar-color, 20%);
    }
  }

  .version-title {
    font-family: $headings-font-family;
    display: block;
    font-size: 1.5em;
    padding: 20px;
    &:hover ::after {
      content: "foo";
      width: 100px;
      height: 100px;
    }
  }
  .version-info {
    padding: 20px;
    font-size: 0.7rem;
    span {
      float: right;
    }
  }

  .actions {
    a {
      text-align: center;
      padding: 10px 10px;
      display: block;
      text-decoration: none;
    }
  }

  .version-menu {
    position: absolute;
    top: 50px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1101;
    background: $p-page-editor-toolbar-bg;
    color: $p-page-editor-toolbar-color;
    width: $p-page-editor-toolbar-width;
    padding: 0;
    margin: 0;
    border: 1px solid lighten($p-page-editor-toolbar-bg, 30%);
    list-style-type: none;

    a {
      display: block;
      padding: 5px 10px;
    }
  }
}

.p-comp-page-editor-icon.left {
  left: 0;
}

.p-comp-page-editor-toolbar.left {
  left: 0;
  border-right: 1px solid lighten($p-page-editor-toolbar-bg, 30%);

  .version-menu {
    left: $p-page-editor-toolbar-width;
    border-left: none;
  }
}

.p-comp-page-editor-icon.right {
  right: 0;
}

.p-comp-page-editor-toolbar.right {
  right: 0;
  border-left: 1px solid lighten($p-page-editor-toolbar-bg, 30%);

  .version-menu {
    right: $p-page-editor-toolbar-width;
    border-right: none;
  }
}
