{% extends 'PerformBaseBundle:Security:login.html.twig' %}

{% block title %}
  Reset your password
{% endblock %}

{% block panel_body %}
  {{form_start(form)}}
  {{form_row(form.email)}}
  <button type="submit" class="btn btn-primary">Send password reset email</button>
  {{form_end(form)}}
{% endblock %}
