{% extends 'PerformBaseBundle:Security:login.html.twig' %}

{% block title %}
  Thank you
{% endblock %}

{% block panel_body %}
  <p>{{message}}</p>
  <a class="btn btn-primary" href="{{path('perform_base_login')}}">Login</a>
{% endblock %}
