<div class="row">
  <div class="col-sm-6 batch-actions">
    <div class="form-group">
      <label class="col-sm-2 control-label">With selected:</label>
      <div class="col-sm-8">
        <select class="form-control">
          {% for action in actions %}
            {{perform_action_option(action, entityClass)}}
          {% endfor %}
        </select>
      </div>
      <div class="col-sm-2">
        <a href="#" class="btn btn-primary batch-action-button">OK</a>
      </div>
    </div>
  </div>
</div>
