<div class="row">
  <div class="col-sm-6 batch-actions">
    <div class="form-group">
      <label class="col-sm-2 control-label">With selected:</label>
      <div class="col-sm-8">
        <select class="form-control">
          {% for action in batchActions %}
            {{perform_action_option(action, entityClass, 'list')}}
          {% endfor %}
        </select>
      </div>
      <div class="col-sm-2">
        <a href="#" class="btn btn-primary batch-action-button">OK</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="perform-export" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Download
        <span class="caret"></span>
      </button>
      {% set query = app.request.query.all() %}
      <ul class="dropdown-menu" aria-labelledby="perform-export">
        {% for label, format in exportConfig.getFormats() %}
          <li><a href="{{perform_export_route(entityClass, format)}}">{{label}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
