<div class="row">
  <div class="col-sm-12">
    <p>With selected (0)
      <select class="form-control" data-entity="{{entityClass}}">
        {% for action in actions %}
          <option value="{{path('perform_base_action_index', {action: action.name})}}">{{action.batchLabel()}}</option>
        {% endfor %}
      </select>
      <a href="#" class="btn btn-primary batch-action-button">OK</a>
    </p>
  </div>
</div>
