{% extends 'PerformBaseBundle::base.html.twig' %}

{% block workspace %}
  <h3><i class="fa fa-angle-right"></i> Items</h3>
  {% block actions %}
    {% if perform_crud_route_exists(entityClass, 'create') %}
      <a href="{{perform_crud_route(entityClass, 'create')}}" class="btn btn-primary">Create</a>
    {% endif %}
  {% endblock %}
  <div class="row mt">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
          {% include 'PerformBaseBundle:Crud:table.html.twig' %}
        </div>
      </div>
    </div>
  </div>

  {% block batchActions %}
    {% include 'PerformBaseBundle:Crud:batchActions.html.twig' %}
  {% endblock %}

  {% block paginator %}
    {% include 'PerformBaseBundle:Crud:paginator.html.twig' %}
  {% endblock %}
{% endblock %}

{% block extras %}
  {% include 'PerformBaseBundle:Crud:modal/delete.html.twig' %}
{% endblock %}
