<ul class="nav nav-pills nav-stacked">
  {% for filterName, filter in filters %}
    <li{% if filter.isActive() %} class="active"{% endif %}>
      <a href="{{perform_crud_route(entityClass, 'list', {filter: filterName})}}">
        {{filter.config.label}}
        {% if filter.hasCount() %}
          <span class="badge pull-right">
            {{filter.count}}
          </span>
        {% endif %}
      </a>
    </li>
  {% endfor %}
</ul>
