<ul class="nav">
  {% for filterName, filter in filters %}
    <li>
      <a href="{{perform_crud_route(entityClass, 'list', {filter: filterName})}}">
        {{filter.config.label}}
        {% if filter.hasCount() %}
          {{filter.count}}
        {% endif %}
      </a>
    </li>
  {% endfor %}
</ul>
