<div class="row">
  <div class="col-sm-3 pagination-counter">
    <p>
      {{paginator.currentPageOffsetStart}} - {{paginator.currentPageOffsetEnd}} of {{paginator.nbResults}}
    </p>
  </div>
  <div class="col-sm-9">
    {% if paginator.haveToPaginate %}
      {% set query = app.request.query.all %}
      <nav aria-label="Page navigation">
        {{perform_crud_paginator(paginator, entityClass)}}
      </nav>
    {% endif %}
  </div>
</div>
