{% extends 'PerformBaseBundle::base.html.twig' %}

{% block workspace %}
  <h3><i class="fa fa-angle-right"></i> View</h3>
  <div class="panel panel-default">
    <div class="panel-heading">
      Entity
    </div>
    <div class="panel-body">
      <table class="table">
        <tbody>
          {% for field, config in fields %}
            <tr>
              <th>
                {{config.options.label}}
              </th>
              <td>
                {{perform_crud_view_context(entity, field, config)}}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <a href="{{perform_crud_route(entity, 'list')}}" class="btn btn-default">Back</a>
      {% if perform_crud_route_exists(entity, 'edit') %}
        <a href="{{perform_crud_route(entity, 'edit')}}" class="btn btn-primary">Edit</a>
      {% endif %}
    </div>
  </div>
{% endblock %}
