{% extends 'PerformBaseBundle:Crud:view.html.twig' %}

{% block actions %}
  {% if perform_crud_route_exists(entity, 'editDefault') %}
    <a href="{{perform_crud_route(entity, 'editDefault')}}" class="btn btn-warning">Edit</a>
  {% endif %}
  {% for action in perform_action_buttons_for(entity) %}
    {{perform_action_button(action, entity, 'view')}}
  {% endfor %}
{% endblock %}
