header, .footer {
  min-height: 60px;
  padding: 0 15px;
}

header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1002;
  background: #ffd777;
  border-bottom: 1px solid #c9aa5f;

  .logo {
    font-size: 20px;
    color: #ffffff;
    float: left;
    margin-top: 15px;
    text-transform: uppercase;
    &:hover,
    &:focus {
      text-decoration: none;
      outline: none;
    }
    b {
      font-weight: 900;
    }
  }

}