<div class="row">
  <div class="col-md-12 d-flex justify-content-between">
    <div class="form-inline batch-actions">
      <div class="form-group">
        <label for="batch-actions-select">With selected:</label>
        <select class="form-control ml-sm-3 mr-sm-3" id="batch-actions-select">
          {% for action in batchActions %}
            {{perform_action_option(action, crudName, 'list')}}
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <a href="#" class="btn btn-primary batch-action-button">OK</a>
      </div>
    </div>
    <div>
      {{perform_export_dropdown(crudName)}}
    </div>
  </div>
</div>
