<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site Administration</title>
    <link rel="stylesheet" type="text/css" href="{{asset('bundles/adminbase/css/app.css')}}" />
  </head>
  <body>
    <section id="container">
      <header class="header black-bg">
        <div class="sidebar-toggle-box">
          <div class="fa fa-minus-square-o tooltips" id="menu-toggle" data-placement="right" data-original-title="Toggle Navigation"></div>
        </div>

        <a href="{{path('admin_base_dashboard_index')}}" class="logo">Site Administration</a>
        <div class="top-menu">
          <ul class="nav pull-right top-menu">
            <li><a class="logout" href="/">Logout</a></li>
          </ul>
        </div>
      </header>

      <aside>
        <div id="sidebar" class="nav-collapse ">
          <ul class="sidebar-menu" id="nav-accordion">

            <li class="mt">
              <a href="">
                <i class="fa fa-dashboard"></i>
                Dashboard
              </a>
            </li>
            <li class="sub-menu">
              <a href="javascript:;" >
                <i class="fa fa-briefcase"></i>
                Media
              </a>
              <ul class="sub">
                <li><a href="">List</a></li>
                <li><a href="">Upload</a></li>
              </ul>
            </li>

          </ul>
        </div>
      </aside>

      <section id="main-content">
        <section class="wrapper site-min-height">
          {% block workspace %}
          {% endblock %}
        </section>
      </section>

      <footer class="site-footer">
        <div class="text-center">
          A <a target="_blank" href="//glynnforrest.com">glynnforrest.com</a> project.
        </div>
      </footer>

    </section>

    <script src="{{asset('bundles/adminbase/js/app.js')}}"></script>
  </body>
</html>
