<div class="panel panel-default">
  <div class="panel-heading">
    <i class="fa fa-envelope fa-fw"></i> New Contact Form Messages
  </div>
  <div class="panel-body">
    <div class="list-group">
      {% for message in messages %}
        <a href="{{path('admin_contact_message_view', {id: message.id})}}" class="list-group-item">
          <i class="fa fa-comment fa-fw"></i> {{message.name}}
          <span class="pull-right text-muted small"><em></em>
          </span>
        </a>
      {% else %}
        No messages
      {% endfor %}
    </div>
    <a href="{{path('admin_contact_message_list')}}" class="btn btn-default btn-block">View All</a>
  </div>
</div>
