<nav class="navbar navbar-expand fixed-top navbar-light perform-header justify-content-between">
  <div>
    <a href="/" class="navbar-brand">
      {{'header.title'|trans({}, 'PerformBaseBundle')}}
    </a>
    <a class="sidebar-toggler" tabindex="-1">
      <i class="fa fa-bars"></i>
    </a>
  </div>
  <div class="d-flex">
    <ul class="navbar-nav">
      {% block right_nav %}
        {% include '@PerformBase/header/_tasks.html.twig' %}
        {% if app.user %}
          {% include '@PerformBase/header/_user_menu.html.twig' %}
        {% endif %}
      {% endblock %}
    </ul>
  </div>
</nav>
