<nav class="navbar navbar-expand fixed-top navbar-light bg-light justify-content-between">
  <div>
    <a href="{{path('perform_base_dashboard_index')}}" class="navbar-brand">
      {{'header.title'|trans({}, 'PerformBaseBundle')}}
    </a>
    <button class="btn btn-light btn-sm sidebar-toggler">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="d-flex">
    <ul class="navbar-nav">
      <li id="perform-tasks" class="nav-item dropdown">
        <i class="fa fa-tasks"></i>
      </li>
    </ul>
    <a class="btn btn-primary ml-3" href="{{path('perform_user_logout')}}">Logout</a>
  </div>
</nav>
