<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="perform-tasks-dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-tasks"></i>
    <span id="perform-tasks-counter"></span>
  </a>
  <div id="perform-tasks-dropdown" class="dropdown-menu dropdown-menu-right" aria-labelledby="perform-tasks-dropdown-toggle"></div>
</li>
