{% extends 'PerformBaseBundle:types:simple.html.twig' %}

{% block list %}
{% endblock %}

{% block view %}
{% endblock %}

{% block create %}
  <div class="perform-rich-content-type">
    {{form_row(form[field], {attr: {class: 'content-id'}})}}
    <div class="form-group">
      <label class="col-sm-2" for="{{field}}">
        {{label}}
      </label>
      <div class="editor col-sm-10">
      </div>
    </div>
  </div>
{% endblock %}
