{% extends '@PerformBase/field_type/simple.html.twig' %}

{% block list %}
  {% if link and email %}
    <a href="mailto:{{email}}">
      {{email}}
    </a>
  {% else %}
    {{email}}
  {% endif %}
{% endblock %}
