{% extends 'AdminBaseBundle::base.html.twig' %}

{% block workspace %}
  <h3><i class="fa fa-angle-right"></i> Edit</h3>
  {{form_start(form)}}
  {% for row in form.children %}
    {{form_row(row)}}
  {% endfor %}
  <a href="{{crud_route(entity, 'list')}}" class="btn btn-default">Cancel</a>
  <button type="submit" class="btn btn-primary">Save</button>
  {{form_end(form)}}
{% endblock %}
