.perform-cms {
  .cms-toolbar {
    background-color: #222;
    top: 0;
    box-shadow: 0 -1px 0px rgba(0, 0, 0, 0.2);
    color: #EEE;
    font: 11px Arial, sans-serif;
    left: 0;
    margin: 0;
    padding: 0 36px 0 0;
    height: 40px;
    position: fixed;
    right: 0;
    text-align: left;
    text-transform: none;
    z-index: 99999;
    -webkit-font-smoothing: subpixel-antialiased;
  }
}