{% block content %}
  <%= value.content %>
{% endblock %}

{% block editor %}
  <div class="form-group">
    <textarea class="form-control" rows="10"><%- value.content %></textarea>
  </div>
{% endblock %}
