{% block title %}
  <i class="fa fa-user"></i>
  Analytics
{% endblock %}

{% block panel_title %}
  Analytics Settings
{% endblock %}

{% block panel %}
  {% if not canEnable and not enabled %}
    <div class="alert alert-danger">
      <i class="fa fa-warning"></i>
      Analytics hasn't been enabled.
      You can edit these settings, but tracking codes will not appear on the site until it is enabled.
      Contact the site administrator.
    </div>
  {% endif %}
  {% if vendors|length < 1 %}
    <div class="alert alert-warning">
      <i class="fa fa-warning"></i>
      No analytics integrations have been configured.
      Contact the site administrator.
    </div>
  {% endif %}
  {% if canEnable %}
    {{form_row(form.enabled)}}
  {% endif %}
  {% for vendor in vendors %}
    {{form_row(form[vendor])}}
  {% endfor %}
{% endblock %}
