/* Padding for some element. */
$some-padding: 10px 30px 40px !default;

/*
Color for the thing that does that other thing.

Multi-line description, see!

 */
$some-color:#456738 !default;

/*
A font family.




*/
$some-font:   "Times New Roman", serif !default;
