<div class="panel panel-default">
  <div class="panel-heading">
    <i class="fa fa-users fa-fw"></i> New Mailing List Subscribers
  </div>
  <div class="panel-body">
    <div class="list-group">
      {% for subscriber in subscribers %}
        <a href="{{path('perform_mailing_list_local_subscriber_view', {id: subscriber.id})}}" class="list-group-item">
          {{subscriber.email}}
        </a>
      {% else %}
        No subscribers
      {% endfor %}
    </div>
    <a href="{{path('perform_mailing_list_local_subscriber_list')}}" class="btn btn-default btn-block">View All</a>
  </div>
</div>
