{% extends 'PerformBaseBundle:types:simple.html.twig' %}

{% block list %}
  {% if link %}
    <a href="mailto:{{email}}">
      {{email}}
    </a>
  {% else %}
    {{email}}
  {% endif %}
{% endblock %}
