$primary: #38a745;
$secondary: #001B2C;
$child-nav-bg: #153345;
$dark: #464e46;
$body-bg: #fff;

$headings-font-family: 'PT Sans', sans-serif;

@import "node_modules/bootstrap/scss/bootstrap";

.child-nav {
  background-color: $gray-100;
  overflow-x: scroll;

  li {
    word-break: break-all;
  }

  ul {
    list-style-type: none;
    padding-left: 0;

    li > ul {
      padding-left: 1em;
      font-size: 0.8em;
      color: $gray-600;
    }
  }
}

footer {
  margin-top: $spacer;

  .contentinfo {
    clear: both;
    text-align: center;
    font-size: 0.8em;
    color: $text-muted;
    margin-top: $spacer;
  }
}

h1, h2, h3, h4, h5, h6, dl dt, p.caption, table > caption {
  .headerlink {
    visibility: hidden;
    font-size: 1em;
    &:after {
      content: "#";
      display: inline-block;
      margin-left: -0.2em;
    }
  }
  &:hover .headerlink:after {
    visibility: visible;
  }
}

.highlight {
  pre {
    font-size: 0.8em;
    padding: 1em;
    background-color: #f9f9f9;
  }
}
