{% extends 'AdminBaseBundle::base.html.twig' %}

{% block workspace %}
  <h3><i class="fa fa-angle-right"></i> Upload Media</h3>
  <div class="alert alert-info">
    <p>Use this page to upload new files into the library.</p>
  </div>
  <div class="row mt">
    <div class="col-lg-12">
    </div>
  </div>
{% endblock %}
