{% extends 'PerformBaseBundle::base.html.twig' %}

{% block workspace %}
  <h3><i class="fa fa-angle-right"></i> Upload Media</h3>
  <div class="alert alert-info">
    <p>Use this page to upload new files into the library.</p>
  </div>
  <div class="row mt">
    <div class="col-lg-3">
      <i class="fa fa-plus"></i>
      <span>Add files</span>
      <input class="file-upload" data-url="/admin/media/upload" type="file" name="files" multiple>
    </div>
    <div class="col-lg-9 file-list">
    </div>
  </div>
{% endblock %}

{% block js %}
  <script src="{{asset('bundles/performmedia/js/jquery.ui.widget.js')}}"></script>
  <script src="{{asset('bundles/performmedia/js/jquery.fileupload.js')}}"></script>
  <script src="{{asset('bundles/performmedia/js/jquery.iframe-transport.js')}}"></script>
  <script src="{{asset('bundles/performmedia/js/upload.js')}}"></script>
{% endblock %}

{% block extras %}
  <script type="text/template" id="template-upload">
    <div class="btn
                <% if(status === 'done') { %>btn-success<% } %>
                <% if(status === 'error') { %>btn-danger<% } %>
                " id="upload-btn">
      <% if(status === 'pending') { %>
      Uploading <%= filename %>
      <div class="progress">
        <div class="bar progress-bar progress-bar-success" style="width:<%= progress %>%"></div>
      </div>
      <% } else if(status === 'error') { %>
      An error occurred uploading <%= filename %>
      <% } else { %>
      Uploaded <%= filename %>
      <% } %>
    </div>
  </script>
{% endblock %}
