@import "../../../BaseBundle/Resources/scss/variables";
@import "../../../BaseBundle/Resources/public/vendor/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../../../BaseBundle/Resources/public/vendor/bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "../../../BaseBundle/Resources/public/vendor/bootstrap-sass/assets/stylesheets/bootstrap/buttons";
@import "../../../BaseBundle/Resources/public/vendor/bootstrap-sass/assets/stylesheets/bootstrap/navs";
@import "../../../BaseBundle/Resources/public/vendor/bootstrap-sass/assets/stylesheets/bootstrap/forms";
@import "../../../BaseBundle/Resources/public/vendor/bootstrap-sass/assets/stylesheets/bootstrap/navbar";

.playlist {
  list-style-type: none;

  li {
    a {
      padding: 10px;
      display: inline-block;
      &:hover, &:visited {
        background-color: $gray-lighter;
        text-decoration: none;
      }
    }

    .active, .active:hover {
      background-color: lighten($brand-primary, 20%);
    }
  }
}
