<div class="panel panel-default">
  <div class="panel-heading">
    <i class="fa fa-bar-chart-o fa-fw"></i> Site Visits
  </div>
  <div class="panel-body">
    <div class="custom-bar-chart">
      <ul class="y-axis">
        <li><span>10,000</span></li>
        <li><span>8,000</span></li>
        <li><span>6,000</span></li>
        <li><span>4,000</span></li>
        <li><span>2,000</span></li>
        <li><span>0</span></li>
      </ul>
      {% set data =
      {
          JAN: 85,
          FEB: 35,
          MAR: 105,
          APR: 70,
          MAY: 17,
          JUN: 35,
          JUL: 45,
      }
      %}
      {% for month, value in data %}
        <div class="bar">
          <div class="title">{{month}}</div>
          <div class="value tooltips" title="{{value}}% of target" data-toggle="tooltip" data-placement="top" style="height:{{value}}%"></div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
