{% block title %}
  <i class="fa fa-user"></i>
  Analytics
{% endblock %}

{% block panel_title %}
  Analytics Settings
{% endblock %}

{% block panel %}
  {# 2 for _token #}
  {% if not enabled %}
    <div class="alert alert-danger">
      <i class="fa fa-warning"></i>
      Analytics hasn't been enabled.
    </div>
  {% elseif form|length < 2 %}
    <div class="alert alert-warning">
      <i class="fa fa-warning"></i>
      Analytics hasn't been configured yet.
    </div>
  {% endif %}
  {% for row in form %}
    {{form_row(row)}}
  {% endfor %}
{% endblock %}
