{% extends '@PerformBase/field_type/simple.html.twig' %}

{% block list %}
  {% if file %}
    <div class="p-type-media">
      {{perform_media_preview(file)}}
    </div>
  {% endif %}
{% endblock %}
