{% extends '@PerformBase/type/simple.html.twig' %}

{% block list %}
  {{value}}
{% endblock %}

{% block create %}
  <div class="form-group row">
    {{form_label(form[field])}}
    <div class="col-sm-10">
      {{form_widget(form[field])}}
      <small class="form-text text-muted">e.g. 2m 3s, 1h30m, 3d 40m 2h 30s</small>
    </div>
    {{form_errors(form[field])}}
  </div>
{% endblock %}
