{% extends 'PerformBaseBundle:Crud:list.html.twig' %}

{% block actions %}
{% endblock %}

{% block entityActions %}
  <td>
    <a href="{{perform_crud_route(entity, 'view')}}">View</a>
  </td>
{% endblock %}
