{% extends '@PerformUser/dialog_base.html.twig' %}

{% block title %}
  {% if error is defined %}
    Invalid token
  {% else %}
    Reset your password
  {% endif %}
{% endblock %}

{% block card_body %}
  {% if form is defined and form is not null %}
    <div class="alert alert-warning">
      <p>
        Choose a new password for the account <strong>{{user.email}}</strong>.
      </p>
    </div>
    {{form_start(form)}}
    {{form_row(form.password)}}
    <button type="submit" class="btn btn-primary">Reset password</button>
    {{form_end(form)}}
  {% else %}
    <div class="alert alert-danger">
      <p>
        This token is invalid or has expired.
      </p>
    </div>
  {% endif %}
{% endblock %}
